{% macro footer() %}

    <div class="footer">
        <hr>
        <div class="footer-content">
            <div class="footer-info">
                <h1 class="footer-info-title">How to ?</h1>
                <p class="footer-info-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="footer-info">
                <h1 class="footer-info-title">Can't decide ?</h1>
                <p class="footer-info-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <hr>
        <p>Too lazy to setup a copyright - MxW</p>
    </div>

{%- endmacro %}