{% macro notifications() %}

    <script src="{{ url_for('static', filename = 'notifications.js') }}"></script>

    <div class="notifications">
        <!-- <div class="notification notification-success">
            <button class="icon-only" onclick="this.parentElement.remove();">
                <svg width="20" height="20" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25 1L1 25M1 1L25 25" stroke="#1B1107" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <h2 class="notification-title">Notification success</h2>
            <p class="notification-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div> -->
        <!-- <div class="notification notification-error">
            <button class="icon-only" onclick="this.parentElement.remove();">
                <svg width="20" height="20" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25 1L1 25M1 1L25 25" stroke="#1B1107" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <h2 class="notification-title">Notification error</h2>
            <p class="notification-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div> -->
    </div>

{%- endmacro %}