# DATABASE
POSTGRES_USER=monuser
POSTGRES_PASSWORD=monpassword
POSTGRES_DB=monapp

# WEB
DATABASE_URL=postgresql+psycopg://monuser:monpassword@db:5432/monapp
APP_SECRET=python -c "import os; print(os.urandom(32).hex())"
ADMIN_ID=admin
ADMIN_PASSWORD=password