/* BASE NAVBAR */
.navbar {
    font-size: 48px;
    width: 85%;
    padding: 24px;
    left: 50%;
    transform: translateX(-50%);
    top: 48px;
    border: solid var(--ghost-white) 2px;
    background: var(--coffee-bean);
    position: fixed;
    z-index: 1;
    max-height: 70vh;
    overflow-y: scroll;

    & .navbar-title {
        text-align: center;
    }

    & button {
        transition: transform .3s ease, opacity .3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    & .right {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 24px;
        top: 24px;

        & svg {
            width: 40px;
            height: 40px;
        }

        & div {
            margin: 0 24px; 
            border: solid var(--ghost-white) 1px; 
            height: 48px;
        }
    }
}

@media screen and (max-width: 416px) {
    .navbar {
        width: 90%;
        padding: 16px;
        top: 16px;

        & .navbar-title {
            font-size: 32px;
        }

        & .right {
            top: 16px;
            right: 16px;

            & div {
                margin: 0 12px;
                height: 32px;
            }

            & svg {
                width: 32px;
                height: 32px;
            }
        }
    }
}

/* NAVBAR FOR SEARCH */
.navbar-search {
    display: none;

    & > div {
        display: flex;
        flex-direction: column;
    }

    & .search-title {
        font-size: 32px;
        text-align: center;
        margin-bottom: 48px;
    }

    & .list {
        height: 72px;
        background: var(--coffee-bean);
        border: solid var(--ghost-white) 2px;
        padding: 6px;
        display: flex;
        justify-content: start;
        gap: 6px;
        flex-wrap: wrap;
        overflow-y: scroll;

        & .tag, & .ingredient {
            font-size: 20px;
            height: 24px;
            border-radius: 12px;
            background: #89B472;
            color: var(--coffee-bean);
            padding: 0 6px;
            user-select: none;
        }

        & .tag:hover, & .ingredient:hover {
            cursor: pointer;
        }
    }

    & select {
        margin-top: 24px;
        position: relative;
        appearance: none;
    }

    & select, & input {
        height: 72px;
        font-size: 24px;
        padding: 0 24px;
        background: var(--camel);
        border: solid var(--ghost-white) 2px;
        outline: none;
    }

    & .search-action {
        grid-column: 2;
        margin-top: 48px;

        & button {
            font-size: 32px;
            color: var(--ghost-white);
            border: solid var(--ghost-white) 2px;
            background: var(--coffee-bean);
            margin: 0 32px;
            height: 64px;

            & svg {
                margin-left: 24px;
                width: 40px;
                height: 40px;
            }
        }
    }
}

.navbar-for-search {
    & .navbar-search {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
        margin: 48px 0;
    }

    & .toggle-navbar-for-search svg {
        opacity: .1;
    }
}

@media screen and (max-width: 416px) {
    .navbar-for-search {
        & .navbar-search {
            grid-template-columns: 100%;
        }
    }

    .navbar-search {
        & .search-title {
            font-size: 24px;
            margin: 24px 0;
        }

        & .list {
            height: 40px;
        }

        & select {
            height: 56px;
            font-size: 24px;
            padding: 6px 20px;
        }

        & input {
            height: 40px;
            font-size: 24px;
            padding: 6px 20px;
        }

        & .search-action {
            grid-column: 1;

            & button {
                font-size: 24px;
                margin: 0 20px;

                & svg {
                    margin-left: 16px;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

/* NAVBAR FOR CART */
.navbar-cart {
    display: none;

    & table {
        width: 80%;
        margin: auto;
        margin-top: 48px;
        margin-bottom: 48px;
        padding: 0 48px;
        border-top: solid var(--ghost-white) 2px;
        border-bottom: solid var(--ghost-white) 2px;
        border-collapse: collapse;

        & th, & td {
            font-size: 24px;
            padding: 16px 12px;
            text-align: right;

            &:first-child {
                text-align: left;
            }

            & > div {
                float: right;
                display: flex;
                flex-direction: row;
            }

            & button {
                width: 24px;
                height: 24px;
            }

            & .order-quantity {
                margin: 0 12px;
            }
        }

        & tr {
            &:not(:first-child) {
                border-top: solid var(--ghost-white) 2px;
            }

            &:nth-child(even) {
                background: rgba(from var(--champagne-mist) r g b/.1);
            }
        }
    }

    & .form-row {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: auto;
        justify-content: space-between;

        & .order-name {
            font-size: 32px;
            margin-right: 24px;
        }

        & #order-name {
            font-size: 24px;
            background: var(--camel);
            border: solid var(--ghost-white) 2px;
            outline: none;
            padding: 6px 12px;
            color: var(--coffee-bean);
        }

        & .place-order {
            font-size: 24px;
            border: solid var(--ghost-white) 2px;
            color: var(--ghost-white);
            background: var(--coffee-bean);
            padding: 0 24px;
            height: 48px;
        }
    }
}

.navbar-for-cart {
    & .navbar-cart {
        display: block;
        margin: 48px 0;
    }

    & .toggle-navbar-for-cart svg {
        opacity: .1;
    }
}

@media screen and (max-width: 416px) {
    .navbar-cart {
        & table {
            & th, & td {
                font-size: 16px;

                & button {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        & .form-row {
            flex-direction: column;
            width: 90%;

            & .order-name {
                font-size: 20px;
                margin: 0px;
            }

            & .place-order {
                margin-top: 20px;
            }
        }
    }
}