.popup {
    & .popup-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: none;
        z-index: 9;
        transform: translateY(-100%);
        transition: background .3s ease;
    }

    &.popup-open .popup-background {
        transform: none;
        background: rgba(0, 0, 0, .5);
    }

    & .popup-content {
        position: fixed;
        top: 5vh;
        left: 50%;
        padding: 48px;
        min-width: 540px;
        background: var(--champagne-mist);
        z-index: 10;
        transform: translateX(-50%) translateY(-150%);
        transition: transform .3s ease;

        & .popup-title {
            font-family: var(--unna);
            font-size: 36px;
            text-align: center;
        }

        & .popup-description {
            font-family: var(--inria);
            font-weight: var(--bold);
            font-size: 24px;
            margin: 48px 0;
            text-align: center;
        }

        & .popup-row {
            display: flex;
            flex-direction: row;
            gap: 48px;
            justify-content: center;

            & .primary-button {
                background-color: var(--coffee-bean);
                border: solid var(--coffee-bean) 2px;
                color: var(--ghost-white);
                font-family: var(--inria);
                font-size: 24px;
                padding: 8px 12px;

                & svg {
                    margin-left: 24px;
                }
            }

            & .secondary-button {
                background-color: var(--champagne-mist);
                border: solid var(--coffee-bean) 2px;
                color: var(--coffee-bean);
                font-family: var(--inria);
                font-size: 24px;
                padding: 8px 12px;

                & svg {
                    margin-left: 24px;
                }
            }
        }
    }

    &.popup-open .popup-content {
        transform: translateX(-50%);
    }

    & .icon-only {
        transition: transform .3s ease, opacity .3s ease;
        position: absolute;

        &:hover {
            transform: scale(1.1);
        }
    }
}

@media screen and (max-width: 416px) {
    .popup {
        & .popup-content {
            min-width: 0px;
            max-width: 99vw;
            width: calc(90%-36px);
            padding: 12px;

            & .popup-title {
                font-size: 24px;
            }

            & .popup-description {
                font-size: 20px;
                margin: 32px 0;
            }

            & .popup-row {
                display: flex;
                flex-direction: row;
                gap: 24px;
                justify-content: center;

                & button {
                    font-size: 20px;
                }
            }
        }
    }
}
