{% extends "base.html" %}

{% block title %}Cocktails{% endblock %}

{% block content %}
    <label for="ing">Ingredients</label>
    <select name="ing" id="ing">
        {% for ingredient in ingredients %}
            <option value="{{ ingredient.id }}">{{ ingredient.name }}</option>
        {% endfor %}
    </select>

    <label for="tag">Tags</label>
    <select name="tag" id="tag">
        {% for tag in tags %}
            <option value="{{ tag.id }}">{{ tag.name }}</option>
        {% endfor %}
    </select>

    <h1>Cocktails</h1>
        <ul>
        {% for cocktail in pagination %}
            <li>
                <a href="{{ url_for('cocktail_profile.cocktail_profile', cocktail_id = cocktail.id) }}">{{ cocktail.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="page-items">
        {{ pagination.first }} - {{ pagination.last }} of {{ pagination.total }}
    </div>
    <div class=pagination>
        {% for page in pagination.iter_pages() %}
            {% if page %}
                <strong>{{ page }}</strong>
            {% else %}
                <span class="ellipsis">…</span>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}