{% from 'components/navbar.html.jinja' import navbar %}
{% from 'components/footer.html.jinja' import footer %}
{% from 'components/notifications.html.jinja' import notifications %}
{% from 'components/popup.html.jinja' import popup %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'popup.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'notification.css') }}">
        <title>Cocktails - La niche</title>
    </head>
    <body>        
        <script src="{{ url_for('static', filename = 'cocktailCard.js') }}"></script>

        {{ notifications() }}
        {{ popup() }}

        <div class="hero">

            {{ navbar() }}

            <div class="hero-content">
                <h1 class="hero-title">Hero Section Title</h1>
                <p class="hero-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <button class="hero-cta" onclick="window.scroll({top: document.querySelector('.body').getBoundingClientRect().top + window.scrollY, behavior: 'smooth'});">
                    Voir la carte 
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 2L16 30M2 16L16 30L30 16" stroke="#1B1107" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>

                <div class="hero-stats">
                    <div class="stat">
                        <p class="number">8+</p>
                        <p class="stat-desc">Cocktails</p>
                    </div>
                    <div class="stat">
                        <p class="number">10+</p>
                        <p class="stat-desc">Verres servis</p>
                    </div>
                    <div class="stat">
                        <p class="number">1</p>
                        <p class="stat-desc">Client satisfait (moi)</p>
                    </div>
                </div>
            </div>

            <div class="hero-background">
                <p>Coffee</p>
                <p>Drinks</p>
                <p>Cocktail</p>
            </div>
        </div>

        <div class="body">
            <div class="body-content">
                <div class="cocktails">

                    <div id="adaptive-test-box" style="position: absolute; visibility: hidden; height: auto; width: auto; white-space: nowrap; font-family: var(--inria);"></div>

                    {% if pagination.total == 0 %}
                        <h1>Aucun résultat...</h1>
                    {% endif %}

                    {% for cocktail in pagination %}
                        <div class="cocktail-card">
                            {# <img src="{{ url_for('static', filename = f'img/{cocktail.name}.png') }}" width="128" height="128"> #}
                            <img src="" width="128" height="128">
                            <h1 class="card-title"></h1>
                            <script>
                                var scriptTag = document.getElementsByTagName('script'); // Can't put 'let' or there will be "Redeclaration of let [...]"
                                scriptTag = scriptTag[scriptTag.length - 1];
                                generateCardTitle(scriptTag, "{{ cocktail.name }}")
                            </script>
                            <button class="card-cta" onclick='showCocktailDetails("{{ cocktail.name }}", {{ cocktail.id }}, {{ cocktail.tag_associations | map(attribute="tag.name") | map("capitalize") | list | tojson }}, {{ cocktail.ingredient_associations | map(attribute="ingredient.name") | map("capitalize") | list | tojson }})'>Détails</button>
                        </div>
                    {% endfor %}

                </div>

                {% if pagination.total != 0 %}
                    <div class="pagination">
                        <button class="pagination-before {{ 'muted' if pagination.page == 1 else '' }}" onclick="window.location = '{{ url_for(endpoint, page = [1, pagination.page - 1] | max, **args) }}'">
                            <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M29 15H1M15 1L1 15L15 29" stroke="#FCF9FE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>

                        <div class="page-items">
                            {{ pagination.first }} - {{ pagination.last }} sur {{ pagination.total }}
                        </div>

                        <button class="pagination-after {{ 'muted' if pagination.page == pagination.pages else '' }}" onclick="window.location = '{{ url_for(endpoint, page = [pagination.pages, pagination.page + 1] | min, **args) }}'">
                            <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 15H29M15 29L29 15L15 1" stroke="#FCF9FE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>     
                {% endif %}
            </div>
        </div>

        {{ footer() }}

    </body>
</html>