{% from 'components/navbar.html.jinja' import navbar %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'progress-bar.css') }}">
        <title>Ma commande - La niche</title>
    </head>
    <body>

        {{ navbar(type = "none") }}

        <div class="hero">
            <div class="hero-content">
                <h1 style="text-align: center;">Statut de commande</h1>
                <p class="status" style="text-align: center; margin: 24px 0 32px 0;"></p>
                <div class="progress-bar" style="width: 80%; margin: auto;">
                    <div class="bar"></div>
                </div>
            </div>
        </div>

        <script>
            function updateStatus() {
                let target = new URL(window.location);
                let orderId = target.searchParams.get('order-id');

                (async () => {
                    const rawResponse = await fetch(`/api/get-order-status?order-id=${orderId}`, {
                        method: "GET",
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    });

                    const content = await rawResponse.json();
                    let progressBar = document.querySelector('.progress-bar');                    

                    switch (content.status) {
                        case "new":
                            document.querySelector(".status").innerText = "En attente";
                            setTimeout(() => { updateStatus(); }, 1000);
                            progressBar.querySelector('.bar').style.width = "20%";
                            break;

                        case "pending":
                            document.querySelector(".status").innerText = "En cours";
                            setTimeout(() => { updateStatus(); }, 1000);
                            progressBar.querySelector('.bar').style.width = "60%";
                            break;

                        case "finished":
                            document.querySelector(".status").innerText = "Terminée";
                            progressBar.querySelector('.bar').style.width = "100%";
                            break;
                    }
                })();
            }

            updateStatus();
        </script>
        
    </body>
</html>